<div class="container">
  <div class="page-header">
    <h2>Agents</h2>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="error.show">
    <strong>{{error.title}}</strong> {{error.message}}
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <table class="table agents">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <!--<th>Class</th>-->
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ag in agents" ng-click="getDetails(ag)">
          <td>{{$index+1}}</td>
          <td>{{ag.name}}</td>
          <!--<td>{{ag.className}}</td>-->
          <td>{{ag.status}}</td>
        </tr>
        </tbody>
      </table>
      <p>Last update: {{lastupdate | date : "H:mm:ss"}}</p>
      <button type="button" class="btn btn-primary pull-right" ng-click="refresh()">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
      </button>
    </div>
    <agent-info details="details"></agent-info>
  </div>
</div>