body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 15px;
}

table.agents tbody tr {
  cursor: pointer;
}

dd {
  padding-left: 20px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}