<div class="col-md-6 col-sm-12" ng-show="details.show">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">{{details.agent.name}}</h3>
    </div>
    <div class="panel-body">
      <dl>
        <dt>Name</dt>
        <dd>{{details.agent.name}}</dd>
        <dt>Class</dt>
        <dd>{{details.agent.className}}</dd>
        <dt>State</dt>
        <dd>{{details.agent.status}}</dd>
        <dt>Services</dt>
        <dd><ul>
          <li ng-repeat="service in details.agent.services">{{service.type}}: {{service.name}}</li>
        </ul></dd>
      </dl>
      <a href="#" class="btn btn-danger pull-right">Disable</a>
    </div>
  </div>
</div>